/*Début du media query de 1024px*/
    .part-2 p
    {
      display: flex;
      box-sizing: border-box;
      border: 1px #F2F2F2 solid;
      border-radius: 20px;
      width: 30%;
    }
    .boutton
    {
      padding: 7.6% 7.2% 7.7% 7%;
    }
    .map
    {
      padding: 8% 10% 0 10%;
    }
   
    .part-3 .hrt-border
    {
      margin: 0 0.5%;
      width: 19%;
    }
    .mif
    {
      font-size: 95%;
    }
    .hrt
    {
      padding: 9%;
    }
    .coeur
    {
      font-size: 95%;
      padding: 0 5%;
    }
    .part-3 .dog-border
    {
      border: 3px #F2F2F2 solid;
      border-radius: 40px;
      width: 22%;
      margin: 0;
      background-color: rgb(255, 255, 255);
    }
    .part-3 .money-border
    {
      margin: 0 1% 0 1%;
    }
    .chien
    {
      font-size: 95%;
      padding: 0 3%;
    }
    .cards
    {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3,200px);
      grid-gap:30px;
    }
    .card-3-hotel-les-mouettes
    {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .card-4-hotel-de-la-mer
    {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    .card-5-Auberge-Le-Panier
    {
      grid-column: 1/2;
      grid-row: 3/4;
    }
    .card-6-hotel-chez-Amina
    {
      grid-column: 2/3;
      grid-row: 3/4;
    }
    #hebergements
    {
      display: grid;
      grid-gap: 40px;
      grid-template-columns: 58% 1fr;
      grid-template-rows: 850px;
      margin-top: 3%;
    }
    #Les-plus-populaires
    {
      height: 75%;
    }
    #Les-plus-populaires .text
    {
      font-size: 83%;
    }
    header h2
    {
      font-size: 1.2em;
    }
    .cards-2
    {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 370px;
      grid-gap: 35px;
    }
    .vieux-port figcaption
    {
      padding: 2% 0 0 25%;
    }
    .parc-national-des-calanques figcaption
    {
      padding: 3% 0 0 3%;
      font-size: 80%;
    }
    .notre-dame-de-la-garde figcaption
    {
      padding: 5% 0 0 4%;
      font-size: 85%;
    }
    .iles-du-fri
    {
      height: 120px;
    }
    .nddlg 
    {
      width: 100%;
      height: 118px;
    }
    .parc-lc
    {
      height: 100px;
    }
    .fort-de-p
    {
      height: 110px;
    }
    .notre-dame-de-la-garde-et-parc-longchamp
    {
      grid-column: 4/5;
    }
    .contents
    {
      grid-gap: 25px;
    }
    .a-propos, .nos-hebergements, .assistance
    {
      font-size: 85%;
    }
    .part-1
    {
      width: 90%;
    }
  /*Fin du media query de 1024px*/