/*Début du media query de 632px*/
    .part-1
    {
      padding-left:2% ;
    }
    .filters
    {
      padding-left: 15%;
    }
    .cards-2
    {
      display: grid;
      grid-template-columns: 40% 1fr;
    }
    .parc-national-des-calanques figcaption
    {
      font-size: 85%;
      padding-left: 5%;
    }
  /*Fin du media query de 632px*/